@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
nav ul{
    list-style-type: none;
}
nav{
    background-color: aquamarine;
    color: rgb(1, 1, 1);
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-style:italic;
    padding: 0 12px;
    font-family: 'Zen Dots', cursive;
    ;
}
*{
    margin: 0;
    padding: 0;
}